/*.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}*/
.flexbox-container {
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
}
#name {
  list-style: none;
  background-color: lightgray;
}
#parameters {
  list-style: none;
  background-color: lightgreen;
}
img {
  width: 250px; height:300px;
}
